Repository googleapis/java-spanner-jdbc, pull requests merged in 2023-08, with the labels that each got.

#1326 ci: javadoc as a required check
  .github/sync-repo-settings.yaml
Labels: api: spanner, automerge, size: xs

#1324 chore: share do-with-timeout code
  src/main/java/com/google/cloud/spanner/jdbc/AbstractJdbcStatement.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcStatement.java
  src/test/java/com/google/cloud/spanner/jdbc/ExecuteMockServerTest.java
Labels: api: spanner, size: m

#1316 chore: add copyOf method for result sets
  src/main/java/com/google/cloud/spanner/jdbc/JdbcResultSet.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcResultSetTest.java
Labels: api: spanner, size: m

#1323 fix: session leak for invalid update
  src/main/java/com/google/cloud/spanner/jdbc/JdbcStatement.java
  src/test/java/com/google/cloud/spanner/jdbc/ExecuteMockServerTest.java
Labels: api: spanner, size: m

#1310 feat: return generated keys
  src/main/java/com/google/cloud/spanner/jdbc/AbstractJdbcStatement.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcConnection.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcPreparedStatement.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcStatement.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcConnectionTest.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcPreparedStatementTest.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcStatementTest.java
  src/test/java/com/google/cloud/spanner/jdbc/PreparedStatementReturnGeneratedKeysMockServerTest.java
  src/test/java/com/google/cloud/spanner/jdbc/StatementReturnGeneratedKeysMockServerTest.java
Labels: api: spanner, automerge, size: xl
