Repository googleapis/java-spanner-jdbc, pull requests merged in 2024-01, with the labels that each got.

#1449 chore: modify metadata queries to support named schemas
  src/main/java/com/google/cloud/spanner/jdbc/JdbcConnection.java
  src/main/resources/com/google/cloud/spanner/jdbc/DatabaseMetaData_GetCrossReferences.sql
  src/main/resources/com/google/cloud/spanner/jdbc/DatabaseMetaData_GetExportedKeys.sql
  src/main/resources/com/google/cloud/spanner/jdbc/DatabaseMetaData_GetImportedKeys.sql
  src/main/resources/com/google/cloud/spanner/jdbc/postgresql/DatabaseMetaData_GetCrossReferences.sql
  src/main/resources/com/google/cloud/spanner/jdbc/postgresql/DatabaseMetaData_GetExportedKeys.sql
  src/main/resources/com/google/cloud/spanner/jdbc/postgresql/DatabaseMetaData_GetImportedKeys.sql
Labels: api: spanner, size: m

#1469 chore: remove obsolete release job configs
  .kokoro/release/bump_snapshot.cfg
  .kokoro/release/bump_snapshot.sh
  .kokoro/release/common.cfg
  .kokoro/release/common.sh
  .kokoro/release/drop.cfg
  .kokoro/release/drop.sh
  .kokoro/release/promote.cfg
  .kokoro/release/promote.sh
  .kokoro/release/publish_javadoc.cfg
  .kokoro/release/publish_javadoc.sh
  .kokoro/release/publish_javadoc11.cfg
  .kokoro/release/publish_javadoc11.sh
  .kokoro/release/snapshot.cfg
  .kokoro/release/snapshot.sh
  .kokoro/release/stage.cfg
  .kokoro/release/stage.sh
  .kokoro/requirements.in
  .kokoro/requirements.txt
  owlbot.py
Labels: api: spanner, size: xl

#1474 deps: update dependency com.google.cloud:google-cloud-spanner-bom to v6.57.0
  pom.xml
  src/main/java/com/google/cloud/spanner/jdbc/JdbcDriver.java
  src/test/java/com/google/cloud/spanner/jdbc/PartitionedQueryMockServerTest.java
  src/test/java/com/google/cloud/spanner/jdbc/PgNumericResultSetTest.java
Labels: api: spanner, size: s
