Repository googleapis/java-spanner-jdbc, pull requests merged in 2024-09, with the labels that each got.

#1733 feat: update DatabaseMetaData to include named schemas
  src/main/java/com/google/cloud/spanner/jdbc/JdbcDatabaseMetaData.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcDatabaseMetaDataTest.java
Labels: api: spanner, size: s

#1743 chore: remove owlbot check
  .github/sync-repo-settings.yaml
Labels: api: spanner, size: xs

#1742 chore: disable owlbot
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
  .github/generated-files-bot.yml
  .readme-partials.yaml
  codecov.yaml
  owlbot.py
  synth.metadata
Labels: api: spanner, size: l

#1737 docs: run MyBatis sample on the Emulator and add insert-or-update sample
  .github/workflows/spring-data-mybatis-sample.yaml
  samples/spring-data-mybatis/README.md
  samples/spring-data-mybatis/pom.xml
  samples/spring-data-mybatis/src/main/java/com/google/cloud/spanner/sample/Application.java
  samples/spring-data-mybatis/src/main/java/com/google/cloud/spanner/sample/EmulatorInitializer.java
  samples/spring-data-mybatis/src/main/java/com/google/cloud/spanner/sample/mappers/SingerMapper.java
  samples/spring-data-mybatis/src/main/resources/application-cs.properties
  samples/spring-data-mybatis/src/test/java/com/google/cloud/spanner/sample/ApplicationEmulatorTest.java
  samples/spring-data-mybatis/src/test/java/com/google/cloud/spanner/sample/ApplicationTest.java
  samples/spring-data-mybatis/src/test/resources/application-cs.properties
  samples/spring-data-mybatis/src/test/resources/application-pg.properties
  samples/spring-data-mybatis/src/test/resources/application.properties
Labels: api: spanner, samples, size: l

#1738 docs: simplify dialect detection in Spring Data JDBC sample
  samples/spring-data-jdbc/src/main/java/com/google/cloud/spanner/sample/JdbcConfiguration.java
  samples/spring-data-jdbc/src/test/java/com/google/cloud/spanner/sample/ApplicationTest.java
Labels: api: spanner, samples, size: m

#1739 docs: simplify dialect detection for MyBatis sample
  samples/spring-data-mybatis/src/main/java/com/google/cloud/spanner/sample/JdbcConfiguration.java
  samples/spring-data-mybatis/src/test/java/com/google/cloud/spanner/sample/ApplicationTest.java
Labels: api: spanner, samples, size: m

#1745 chore: use default schema from Dialect
  src/main/java/com/google/cloud/spanner/jdbc/JdbcConnection.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcConnectionTest.java
Labels: api: spanner, size: s
