Repository googleapis/java-spanner-jdbc, pull requests merged in 2024-03, with the labels that each got.

#1525 chore: remove custom type name implementation
  src/main/java/com/google/cloud/spanner/jdbc/AbstractJdbcWrapper.java
Labels: api: spanner, size: m

#1526 test: enable integration tests for PG on emulator
  src/test/java/com/google/cloud/spanner/jdbc/it/ITAbstractJdbcTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcConnectTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcDdlTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcPgDatabaseMetaDataTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcPgNumericTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcPreparedStatementTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcQueryOptionsTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcReadOnlyTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcReadWriteAutocommitTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcScriptTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcSimpleStatementsTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcSqlMusicScriptTest.java
  src/test/resources/com/google/cloud/spanner/jdbc/PostgreSQL/ITReadWriteAutocommitSpannerTest.sql
  src/test/resources/com/google/cloud/spanner/jdbc/PostgreSQL/ITScriptTest_TestGetReadTimestamp.sql
  src/test/resources/com/google/cloud/spanner/jdbc/PostgreSQL/ITSqlScriptTest_TestGetCommitTimestamp.sql
  src/test/resources/com/google/cloud/spanner/jdbc/it/CreateMusicTables_PG.sql
Labels: api: spanner, automerge, size: l

#1518 feat: support float32
  src/main/java/com/google/cloud/spanner/jdbc/AbstractJdbcPreparedStatement.java
  src/main/java/com/google/cloud/spanner/jdbc/AbstractJdbcWrapper.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcArray.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcDataType.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcDatabaseMetaData.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcParameterMetaData.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcParameterStore.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcResultSet.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcResultSetMetaData.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcTypeConverter.java
  src/test/java/com/google/cloud/spanner/jdbc/AllTypesMockServerTest.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcArrayTest.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcDatabaseMetaDataTest.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcParameterStoreTest.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcResultSetMetaDataTest.java
  src/test/java/com/google/cloud/spanner/jdbc/PartitionedQueryMockServerTest.java
  src/test/java/com/google/cloud/spanner/jdbc/PreparedStatementParameterMetadataTest.java
  src/test/java/com/google/cloud/spanner/jdbc/RandomResultSetTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcPgNumericTest.java
Labels: api: spanner, automerge, size: l

#1531 chore: restore sdk-platform-java-config changes.
  pom.xml
Labels: api: spanner, size: xs
