Repository googleapis/java-spanner-jdbc, pull requests merged in 2024-08, with the labels that each got.

#1694 test: verify that executeUpdate can be used for DDL
  src/test/java/com/google/cloud/spanner/jdbc/DdlMockServerTest.java
Labels: api: spanner, size: s

#1691 fix: support getShort for DATA_TYPE in TypeInfo
  src/main/java/com/google/cloud/spanner/jdbc/JdbcDatabaseMetaData.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcParameterStore.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcResultSet.java
  src/main/java/com/google/cloud/spanner/jdbc/JsonType.java
  src/main/java/com/google/cloud/spanner/jdbc/PgJsonbType.java
  src/main/java/com/google/cloud/spanner/jdbc/ProtoEnumType.java
  src/main/java/com/google/cloud/spanner/jdbc/ProtoMessageType.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcDatabaseMetaDataTest.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcParameterStoreTest.java
Labels: api: spanner, size: m

#1698 deps: bump Spanner to 6.72.0
  pom.xml
  src/test/java/com/google/cloud/spanner/jdbc/JdbcConnectionUrlTest.java
  src/test/java/com/google/cloud/spanner/jdbc/MultiplexedSessionsMockServerTest.java
Labels: api: spanner, size: s

#1619 feat: add Quickperf for simple performance testing with JDBC
  .github/workflows/quickperf.yaml
  samples/quickperf/.gitignore
  samples/quickperf/exampleconfigs/config.json
  samples/quickperf/exampleconfigs/users/groupmgt_config.json
  samples/quickperf/exampleconfigs/users/loadtestusers.json
  samples/quickperf/exampleconfigs/users/membership_config.json
  samples/quickperf/exampleconfigs/users/run.sh
  samples/quickperf/exampleconfigs/users/users.ddl
  samples/quickperf/exampleconfigs/users/users_config.json
  samples/quickperf/java.header
  samples/quickperf/license-checks.xml
  samples/quickperf/pom.xml
  samples/quickperf/readme.md
  samples/quickperf/src/main/java/com/google/cloud/jdbc/quickperf/ProgressTracker.java
  samples/quickperf/src/main/java/com/google/cloud/jdbc/quickperf/QuickPerf.java
  samples/quickperf/src/main/java/com/google/cloud/jdbc/quickperf/QuickPerfRunner.java
  samples/quickperf/src/main/java/com/google/cloud/jdbc/quickperf/config/Config.java
  samples/quickperf/src/main/java/com/google/cloud/jdbc/quickperf/config/ConfigParser.java
  samples/quickperf/src/main/java/com/google/cloud/jdbc/quickperf/config/QueryParam.java
  samples/quickperf/src/test/java/com/google/cloud/jdbc/quickperf/AppTest.java
  samples/quickperf/src/test/java/com/google/cloud/jdbc/quickperf/ProjectConfig.java
  samples/quickperf/src/test/java/com/google/cloud/jdbc/quickperf/QueryParam.java
  samples/quickperf/src/test/resources/testfile.json
Labels: api: spanner, size: xl

#1692 test: add a test for using the single-jar-with-dependencies
  pom.xml
  src/test/java/com/google/cloud/spanner/jdbc/SingleJarTestApplication.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITSingleJarTest.java
Labels: api: spanner, size: m

#1450 test: add tests for named schemas
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcDatabaseMetaDataTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcPgDatabaseMetaDataTest.java
  src/test/resources/com/google/cloud/spanner/jdbc/it/CreateMusicTables_PG.sql
Labels: api: spanner, size: xl

#1714 chore: update version numbers in README when releasing
  .github/release-please.yml
  README.md
Labels: api: spanner, size: s
