Repository googleapis/java-spanner-jdbc, pull requests merged in 2024-02, with the labels that each got.

#1471 chore: only reset dialect result when it has changed
  src/test/java/com/google/cloud/spanner/jdbc/SavepointMockServerTest.java
Labels: api: spanner, size: s

#1472 test: add tests to verify behavior of empty transactions
  src/test/java/com/google/cloud/spanner/jdbc/TransactionMockServerTest.java
Labels: api: spanner, size: m

#1445 test: add tag tests
  src/test/java/com/google/cloud/spanner/jdbc/SavepointMockServerTest.java
  src/test/java/com/google/cloud/spanner/jdbc/TagMockServerTest.java
Labels: api: spanner, size: m

#1462 chore: add an unmanaged dependency check
  .github/workflows/unmanaged-dependency-check.yaml
Labels: api: spanner, size: s

#1486 chore: use sdk-platform-java-config to consolidate build configs
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
  owlbot.py
  pom.xml
Labels: api: spanner, size: s

#1473 test: verify execution of client side statements
  src/main/java/com/google/cloud/spanner/jdbc/JdbcStatement.java
  src/test/java/com/google/cloud/spanner/jdbc/ExecuteMockServerTest.java
Labels: api: spanner, size: l

#1496 chore: enable client-side statement cache
  src/main/java/com/google/cloud/spanner/jdbc/JdbcDriver.java
Labels: api: spanner, size: xs
