Repository googleapis/java-spanner-jdbc, pull requests merged in 2024-05, with the labels that each got.

#1595 fix: ClassCastException in Spring Data JDBC sample
  samples/spring-data-jdbc/src/main/java/com/google/cloud/spanner/sample/JdbcConfiguration.java
Labels: api: spanner, samples, size: xs

#1600 feat: allow DDL with autocommit=false
  src/test/java/com/google/cloud/spanner/jdbc/DdlMockServerTest.java
Labels: api: spanner, size: m

#1601 docs: support concurrent transactions on the emulator
  src/main/java/com/google/cloud/spanner/jdbc/JdbcDriver.java
Labels: api: spanner, size: xs

#1608 deps: remove open-telemetry dependency import
  pom.xml
Labels: api: spanner, size: xs

#1252 feat: add Proto Columns support in JDBC
  clirr-ignored-differences.xml
  src/main/java/com/google/cloud/spanner/jdbc/AbstractJdbcWrapper.java
  src/main/java/com/google/cloud/spanner/jdbc/CloudSpannerJdbcConnection.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcArray.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcConnection.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcDataType.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcParameterStore.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcResultSet.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcTypeConverter.java
  src/main/java/com/google/cloud/spanner/jdbc/ProtoEnumType.java
  src/main/java/com/google/cloud/spanner/jdbc/ProtoMessageType.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcArrayTest.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcParameterStoreTest.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcResultSetTest.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcTypeConverterTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITProtoColumnsTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/SingerProto.java
  src/test/resources/com/google/cloud/spanner/jdbc/ITDdlTest.sql
  src/test/resources/com/google/cloud/spanner/jdbc/it/descriptors.pb
  src/test/resources/com/google/cloud/spanner/jdbc/it/singer.proto
Labels: api: spanner, size: xl
