Repository googleapis/java-spanner-jdbc, pull requests merged in 2024-04, with the labels that each got.

#1556 chore: update version of unmanaged dependency check
  .github/workflows/unmanaged_dependency_check.yaml
Labels: api: spanner, size: xs

#1558 chore: add connection helper to get Spanner instance
  src/main/java/com/google/cloud/spanner/connection/ConnectionHelper.java
  src/main/java/com/google/cloud/spanner/jdbc/AbstractJdbcConnection.java
Labels: api: spanner, size: s

#1536 docs: create samples for quickstart guide
  .github/workflows/sample-tests.yml
  samples/snippets/java.header
  samples/snippets/license-checks.xml
  samples/snippets/pom.xml
  samples/snippets/src/main/java/com/example/spanner/jdbc/JdbcSample.java
  samples/snippets/src/main/java/com/example/spanner/jdbc/package-info.java
  samples/snippets/src/test/java/com/example/spanner/jdbc/JdbcSampleTest.java
Labels: api: spanner, samples, size: xl

#1566 chore: make connection property all lower-case
  samples/snippets/src/main/java/com/example/spanner/jdbc/JdbcSample.java
Labels: api: spanner, size: xs

#1567 fix: release ResultSet on Statement#close()
  src/main/java/com/google/cloud/spanner/jdbc/AbstractJdbcStatement.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcStatement.java
  src/test/java/com/google/cloud/spanner/jdbc/StatementResourcesTest.java
Labels: api: spanner, size: m

#1571 chore: include recommended_package in repo-metadata.json
  .repo-metadata.json
Labels: api: spanner, size: xs

#1578 feat: concurrent transactions on emulator
  pom.xml
  src/test/java/com/google/cloud/spanner/jdbc/ConcurrentTransactionOnEmulatorTest.java
Labels: api: spanner, size: m

#1579 feat: support statement tags in hints
  src/test/java/com/google/cloud/spanner/jdbc/ClientSideStatementHintsTest.java
  src/test/java/com/google/cloud/spanner/jdbc/TagMockServerTest.java
Labels: api: spanner, size: m

#1361 build: stop auto merging releases
  .github/workflows/auto-release.yaml
Labels: api: spanner, size: xs

#1581 feat: support max_commit_delay
  src/test/java/com/google/cloud/spanner/jdbc/JdbcTransactionOptionsTest.java
Labels: api: spanner, size: s

#1582 feat: support endpoint connection URL property
  src/main/java/com/google/cloud/spanner/jdbc/JdbcDriver.java
Labels: api: spanner, size: xs
