Repository googleapis/java-spanner-jdbc, pull requests merged in 2024-10, with the labels that each got.

#1763 fix: remove connection-id from metrics
  src/main/java/com/google/cloud/spanner/jdbc/JdbcConnection.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITOpenTelemetryTest.java
Labels: api: spanner, size: m

#1777 docs: fixed transaction tagging in quickperf app and reset datafaker version
  samples/quickperf/pom.xml
  samples/quickperf/src/main/java/com/google/cloud/jdbc/quickperf/QuickPerfRunner.java
Labels: api: spanner, automerge, size: xs

#1787 feat: auto_batch_dml connection property
  README.md
  src/test/java/com/google/cloud/spanner/jdbc/ExecuteMockServerTest.java
Labels: api: spanner, size: s

#1788 chore(ci): remove auto-release workflow
  .github/workflows/auto-release.yaml
Labels: api: spanner, size: m

#1792 test: enable integration tests for float32
  src/main/resources/com/google/cloud/spanner/jdbc/DatabaseMetaData_GetColumns.sql
  src/main/resources/com/google/cloud/spanner/jdbc/postgresql/DatabaseMetaData_GetColumns.sql
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcDatabaseMetaDataTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcPgDatabaseMetaDataTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcPgNumericTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcPreparedStatementTest.java
  src/test/resources/com/google/cloud/spanner/jdbc/it/CreateMusicTables.sql
  src/test/resources/com/google/cloud/spanner/jdbc/it/CreateMusicTables_PG.sql
Labels: api: spanner, automerge, size: m

#1795 feat: auto_batch_dml methods + combination with JDBC batching
  clirr-ignored-differences.xml
  src/main/java/com/google/cloud/spanner/jdbc/CloudSpannerJdbcConnection.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcConnection.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcStatement.java
  src/test/java/com/google/cloud/spanner/jdbc/AutoBatchDmlMockServerTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcSimpleStatementsTest.java
Labels: api: spanner, size: l

#1809 docs: add metrics exporter to sample app
  samples/spring-data-jdbc/pom.xml
  samples/spring-data-jdbc/src/main/java/com/google/cloud/spanner/sample/OpenTelemetryConfiguration.java
Labels: api: spanner, samples, size: s
