Repository googleapis/java-spanner-jdbc, pull requests merged in 2025-07, with the labels that each got.

#2128 build: use the default env for integration tests
  .kokoro/build.sh
  .kokoro/presubmit/integration.cfg
  src/test/java/com/google/cloud/spanner/jdbc/it/ITOpenTelemetryTest.java
Labels: api: spanner, size: s

#2142 chore: spring data jdbc version 2025.0.1 upgrade fix
  samples/spring-data-jdbc/googlesql/pom.xml
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/JdbcConfiguration.java
  samples/spring-data-jdbc/postgresql/pom.xml
  samples/spring-data-mybatis/googlesql/pom.xml
  samples/spring-data-mybatis/postgresql/pom.xml
Labels: api: spanner, size: s

#2162 feat: a single multiplexed session is used for all operations
  README.md
Labels: api: spanner, size: xs

#2163 chore: support simple statement param metadata
  src/main/java/com/google/cloud/spanner/jdbc/JdbcPreparedStatement.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcSimpleParameterMetaData.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcPreparedStatementTest.java
  src/test/java/com/google/cloud/spanner/jdbc/PreparedStatementParameterMetadataTest.java
Labels: api: spanner, size: m
