Repository googleapis/java-spanner-jdbc, pull requests merged in 2025-05, with the labels that each got.

#2036 feat: add UUID data type
  src/main/java/com/google/cloud/spanner/jdbc/JdbcDatabaseMetaData.java
  src/main/resources/com/google/cloud/spanner/jdbc/DatabaseMetaData_GetColumns.sql
  src/test/java/com/google/cloud/spanner/jdbc/JdbcDatabaseMetaDataTest.java
Labels: api: spanner, size: s

#2040 chore: use serializable as default isolation level
  samples/spring-data-jdbc/googlesql/src/main/resources/application.properties
  samples/spring-data-mybatis/googlesql/src/main/resources/application.properties
Labels: api: spanner, size: xs

#2052 chore: update linter groupd ID to the latest
  .github/workflows/ci.yaml
  .kokoro/build.sh
  src/main/java/com/google/cloud/spanner/jdbc/AbstractJdbcPreparedStatement.java
  src/main/java/com/google/cloud/spanner/jdbc/AbstractJdbcResultSet.java
  src/main/java/com/google/cloud/spanner/jdbc/CloudSpannerJdbcConnection.java
  src/main/java/com/google/cloud/spanner/jdbc/IsolationLevelConverter.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcConstants.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcDataSource.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcDriver.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcSqlException.java
  src/main/java/com/google/cloud/spanner/jdbc/JsonType.java
  src/main/java/com/google/cloud/spanner/jdbc/PgJsonbType.java
  src/main/java/com/google/cloud/spanner/jdbc/ProtoEnumType.java
  src/main/java/com/google/cloud/spanner/jdbc/ProtoMessageType.java
  src/main/java/com/google/cloud/spanner/jdbc/SpannerPool.java
  src/main/java/com/google/cloud/spanner/jdbc/UuidType.java
  src/test/java/com/google/cloud/spanner/jdbc/DdlMockServerTest.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcConnectionTest.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcSqlScriptVerifier.java
  src/test/java/com/google/cloud/spanner/jdbc/it/SingerProto.java
Labels: api: spanner, size: m

#2056 test: enable proto column tests on emulator
  src/test/java/com/google/cloud/spanner/jdbc/it/ITJdbcConnectTest.java
  src/test/java/com/google/cloud/spanner/jdbc/it/ITProtoColumnsTest.java
Labels: api: spanner, size: s
