Repository googleapis/java-spanner-jdbc, pull requests merged in 2025-04, with the labels that each got.

#1973 feat: support isolation level repeatable read
  src/main/java/com/google/cloud/spanner/jdbc/AbstractJdbcConnection.java
  src/main/java/com/google/cloud/spanner/jdbc/IsolationLevelConverter.java
  src/main/java/com/google/cloud/spanner/jdbc/JdbcDatabaseMetaData.java
  src/test/java/com/google/cloud/spanner/jdbc/IsolationLevelConverterTest.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcConnectionTest.java
  src/test/java/com/google/cloud/spanner/jdbc/JdbcDatabaseMetaDataTest.java
  src/test/java/com/google/cloud/spanner/jdbc/TransactionMockServerTest.java
Labels: api: spanner, size: l

#1994 build: use span-cloud-testing for integration tests
  .kokoro/build.sh
  .kokoro/presubmit/integration.cfg
Labels: api: spanner, size: s

#1991 build: introduce testing infra for GraalVM "C"
  .github/sync-repo-settings.yaml
  .kokoro/build.sh
  .kokoro/presubmit/graalvm-native-a.cfg
  .kokoro/presubmit/graalvm-native-b.cfg
  .kokoro/presubmit/graalvm-native-c.cfg
  src/test/resources/META-INF/native-image/com.google.cloud/google-cloud-spanner-jdbc/native-image.properties
Labels: api: spanner, size: m

#2027 docs: add sample for Spring Data JDBC with GoogleSQL
  .github/workflows/spring-data-jdbc-sample.yaml
  samples/spring-data-jdbc/README.md
  samples/spring-data-jdbc/googlesql/README.md
  samples/spring-data-jdbc/googlesql/pom.xml
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/Application.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/DatabaseSeeder.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/EmulatorInitializer.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/JdbcConfiguration.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/OpenTelemetryConfiguration.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/SpannerDialect.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/SpannerDialectProvider.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/entities/AbstractEntity.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/entities/Album.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/entities/Concert.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/entities/Singer.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/entities/Track.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/entities/Venue.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/repositories/AlbumRepository.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/repositories/ConcertRepository.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/repositories/SingerRepository.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/repositories/TrackRepository.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/repositories/VenueRepository.java
  samples/spring-data-jdbc/googlesql/src/main/java/com/google/cloud/spanner/sample/service/SingerService.java
  samples/spring-data-jdbc/googlesql/src/main/resources/META-INF/spring.factories
  samples/spring-data-jdbc/googlesql/src/main/resources/application.properties
  samples/spring-data-jdbc/googlesql/src/main/resources/create_schema.sql
  samples/spring-data-jdbc/googlesql/src/main/resources/drop_schema.sql
  samples/spring-data-jdbc/googlesql/src/test/java/com/google/cloud/spanner/sample/ApplicationEmulatorTest.java
  samples/spring-data-jdbc/postgresql/README.md
  samples/spring-data-jdbc/postgresql/pom.xml
  samples/spring-data-jdbc/postgresql/src/main/java/com/google/cloud/spanner/sample/Application.java
  samples/spring-data-jdbc/postgresql/src/main/java/com/google/cloud/spanner/sample/DatabaseSeeder.java
  samples/spring-data-jdbc/postgresql/src/main/java/com/google/cloud/spanner/sample/JdbcConfiguration.java
  samples/spring-data-jdbc/postgresql/src/main/java/com/google/cloud/spanner/sample/OpenTelemetryConfiguration.java
  samples/spring-data-jdbc/postgresql/src/main/java/com/google/cloud/spanner/sample/entities/AbstractEntity.java
  samples/spring-data-jdbc/postgresql/src/main/java/com/google/cloud/spanner/sample/entities/Album.java
  samples/spring-data-jdbc/postgresql/src/main/java/com/google/cloud/spanner/sample/entities/Concert.java
  samples/spring-data-jdbc/postgresql/src/main/java/com/google/cloud/spanner/sample/entities/Singer.java
  samples/spring-data-jdbc/postgresql/src/main/java/com/google/cloud/spanner/sample/entities/Track.java
  samples/spring-data-jdbc/postgresql/src/main/java/com/google/cloud/spanner/sample/entities/Venue.java
  samples/spring-data-jdbc/postgresql/src/main/java/com/google/cloud/spanner/sample/repositories/AlbumRepository.java
  samples/spring-data-jdbc/postgresql/src/main/java/com/google/cloud/spanner/sample/repositories/ConcertRepository.java
  samples/spring-data-jdbc/postgresql/src/main/java/com/google/cloud/spanner/sample/repositories/SingerRepository.java
  samples/spring-data-jdbc/postgresql/src/main/java/com/google/cloud/spanner/sample/repositories/TrackRepository.java
  samples/spring-data-jdbc/postgresql/src/main/java/com/google/cloud/spanner/sample/repositories/VenueRepository.java
  samples/spring-data-jdbc/postgresql/src/main/java/com/google/cloud/spanner/sample/service/SingerService.java
  samples/spring-data-jdbc/postgresql/src/main/resources/application-cs.properties
  samples/spring-data-jdbc/postgresql/src/main/resources/application-pg.properties
  samples/spring-data-jdbc/postgresql/src/main/resources/application.properties
  samples/spring-data-jdbc/postgresql/src/main/resources/create_schema.sql
  samples/spring-data-jdbc/postgresql/src/main/resources/drop_schema.sql
  samples/spring-data-jdbc/postgresql/src/test/java/com/google/cloud/spanner/sample/ApplicationEmulatorTest.java
  samples/spring-data-jdbc/postgresql/src/test/java/com/google/cloud/spanner/sample/ApplicationTest.java
  samples/spring-data-jdbc/postgresql/src/test/resources/application-cs.properties
  samples/spring-data-jdbc/postgresql/src/test/resources/application-pg.properties
  samples/spring-data-jdbc/postgresql/src/test/resources/application.properties
Labels: api: spanner, samples, size: xl
